# Access object storage server
minio>=5.0.6,<6.0.0
# Helps with structured data operations
pandas>=0.25.3
# Replacement for pickle to work efficiently
# on Python objects containing large data
joblib>=0.14.1
# Makes statistical graphics
seaborn>=0.10.0
# Filesystem interface for S3
s3fs>=0.3.0
# Jupyter kernel to work with Python code
tornado>=4.3,<6
ipykernel>=5.2.0
# Web-based notebook environment for interactive computing
notebook>=6.0.2
# Make HTTP requests simpler and more human-friendly
requests>=2.23.0
# Converts ML models into production REST/GRPC microservice
seldon-core>=1.0.2,<1.1.0
