# Access object storage server
minio==7.0.1
# Helps with structured data operations
pandas>=0.25.3
# Replacement for pickle to work efficiently
# on Python objects containing large data
joblib>=0.14.1
# Filesystem interface for S3
s3fs>=0.3.0
# Make HTTP requests simpler and more human-friendly
requests>=2.23.0
# Lib that contains OrdinalEncoder and OneHotEncoder
category-encoders==2.2.2
# Fundamental package for scientific computing in Python 
numpy==1.19.5


